In [1]:
import pandas as pd
import numpy as np

In [2]:
saya = "cantik"
kabur = "Cantik"

saya == kabur

False

In [7]:
nama = "kintan"
print(nama[3:6])

tan

In [8]:
print(nama[:6])

kintan

In [9]:
print(nama[:4])

kint

In [14]:
#basic if else
nilai = 78

if nilai >= 80:
    hasil = "lulus"
else:
    hasil = "tidak lulus"
    
print(hasil)

tidak lulus

In [19]:
nilai = 90

if nilai >= 80:
    hasil = "lulus"
elif nilai >= 70:
    hasil = "lulus"
else:
    hasil = "tidak lulus"
    
print(hasil)

lulus

In [20]:
#for looping

kumpulan_bebas = [0,"nenek_salto",1000, True,"comfort zone","haha"]
print(kumpulan_bebas)

[0, 'nenek_salto', 1000, True, 'comfort zone', 'haha']

In [27]:
for k in kumpulan_bebas:
    print(f"k sekarang adalah {k}")

k sekarang adalah 0
k sekarang adalah nenek_salto
k sekarang adalah 1000
k sekarang adalah True
k sekarang adalah comfort zone
k sekarang adalah haha

In [28]:
days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']

In [29]:
days[2]

'Rabu'

In [30]:
days[6]="Ahad"

In [31]:
days[6]

'Ahad'

## Data Structure

In [32]:
angka1 = 1
angka2 = 2
angka3 = 3
string1 = "ini string1"
bool1 = True

print(angka1)
print(angka2)
print(angka3)
print(string1)
print(bool1)

1
2
3
ini string1
True

In [33]:
kumpulan_var = [1,2,3,'ini string1',True]
print(kumpulan_var)

[1, 2, 3, 'ini string1', True]

In [34]:
kumpulan_presiden = ['soekarno', 'soeharto', 'bj_habibi', 'gus_dur']
print(kumpulan_presiden)

['soekarno', 'soeharto', 'bj_habibi', 'gus_dur']

In [35]:
kumpulan_presiden.append("giring")
print(kumpulan_presiden)

['soekarno', 'soeharto', 'bj_habibi', 'gus_dur', 'giring']

In [36]:
kumpulan_presiden[-1] = "Aldi Taher"
print(kumpulan_presiden)

['soekarno', 'soeharto', 'bj_habibi', 'gus_dur', 'Aldi Taher']

In [38]:
kumpulan_presiden = {'soekarno', 'soeharto', 'bj_habibi', 'gus_dur'}
print(kumpulan_presiden)

{'bj_habibi', 'soeharto', 'gus_dur', 'soekarno'}

In [39]:
kumpulan_presiden.add("jokowi")
print(kumpulan_presiden)

{'soeharto', 'gus_dur', 'bj_habibi', 'jokowi', 'soekarno'}

In [40]:
for i in kumpulan_presiden:
    print(i)

soeharto
gus_dur
bj_habibi
jokowi
soekarno

In [41]:
"jokowi" in kumpulan_presiden

True

In [45]:
profil= {
    'nama': "Kintan",
    'pekerjaan':" Tahfeez Teacher",
    'tinggi' : 160
}

print(profil)

{'nama': 'Kintan', 'pekerjaan': ' Tahfeez Teacher', 'tinggi': 160}

In [47]:
#for acces the key

print(profil["tinggi"])

160

In [48]:
profil['tinggal'] = "Griyatawang"

In [49]:
print(profil)

{'nama': 'Kintan', 'pekerjaan': ' Tahfeez Teacher', 'tinggi': 160, 'tinggal': 'Griyatawang'}

In [53]:
for x in profil.values():
    print(x)

Kintan
 Tahfeez Teacher
160
Griyatawang

In [57]:
for x,y in profil.items():
    print("ini key:",x , "ini value:", y)

ini key: nama ini value: Kintan
ini key: pekerjaan ini value:  Tahfeez Teacher
ini key: tinggi ini value: 160
ini key: tinggal ini value: Griyatawang

In [58]:
for aba,ada in profil.items():
    print("ini key:",aba , "ini value:", ada)

ini key: nama ini value: Kintan
ini key: pekerjaan ini value:  Tahfeez Teacher
ini key: tinggi ini value: 160
ini key: tinggal ini value: Griyatawang

## Handson Master

In [60]:
data_penjualan = {
    "product" : ["Product A", "Product B", "Product C", "Product X"],
    "hasil_penjualan" : [500000,70000, 125000, 350000]
}

data_penjualan

{'product': ['Product A', 'Product B', 'Product C', 'Product X'],
 'hasil_penjualan': [500000, 70000, 125000, 350000]}

In [63]:
#load into dataframe
df = pd.DataFrame(data_penjualan)
print(df)

     product  hasil_penjualan
0  Product A           500000
1  Product B            70000
2  Product C           125000
3  Product X           350000

In [64]:
df.sum()

product            Product AProduct BProduct CProduct X
hasil_penjualan                                 1045000
dtype: object